version: "3.8"

volumes:
  grafana_data:

services:
  postgres:
    image: postgres:14
    restart: always
    volumes:
      - ./db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: hospital
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 5s
      timeout: 5s
      retries: 5

  app_registry:
    image: ${IMAGE_OWNER}/app_registry:latest
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: hospital
      DB_USER: admin
      DB_PASSWORD: ${POSTGRES_PASSWORD}
    restart: always
    ports:
      - "8000:8000"

  app_schedule:
    image: ${IMAGE_OWNER}/app_schedule:latest
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: hospital
      DB_USER: admin
      DB_PASSWORD: ${POSTGRES_PASSWORD}
    restart: always
    ports:
      - "8001:8000"

  db_migrations:
    image: ${IMAGE_OWNER}/db_migrations:latest
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: hospital
      DB_USER: admin
      DB_PASSWORD: ${POSTGRES_PASSWORD}

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    restart: always
    depends_on:
      - app_registry
      - app_schedule

  grafana:
    image: grafana/grafana:latest
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana-datasources:/etc/grafana/provisioning/datasources
      - ./grafana-dashboards:/etc/grafana/provisioning/dashboards
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=grafana
    ports:
      - "3000:3000"
    restart: always