name: Docker Build and Push

on:
  push:
    branches: [ "main" ]
    
env:
  DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USERNAME }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Registry
        uses: docker/build-push-action@v4
        with:
          context: ./app_registry
          push: true
          tags: ${{ env.DOCKERHUB_USER }}/app_registry:latest

      - name: Build and push Schedule
        uses: docker/build-push-action@v4
        with:
          context: ./app_schedule
          push: true
          tags: ${{ env.DOCKERHUB_USER }}/app_schedule:latest